        * {
            box-sizing:border-box;
        }
        body {
            margin:0px;
            font-family:Helvetica;
        }
        .row {
            margin-top:5px;
            display:flex;
            flex-wrap:wrap;
            padding: 0 4px;
        }
        .column {
            flex:50%;
            padding:0 4px;
        }
        .column img {
            margin-top:5px;
            vertical-align:middle;
            width:100%;
        }
        .logo img {
            width:350px;
            height:auto;
            margin-left:15px;
        }
        .logo h4, h1 {
            text-align:left;
            margin-left:15px;
        }
        .kakao img {
            width:350px;
            height:50px;
            margin-left:12px;
            margin-top:12px;
        }
        h2 {
            text-align:center;
            background-color:dodgerblue;
            color:white;
            line-height:40px;
            margin-bottom:0px;
        }
        ul {
            padding-left:0px;
        }
        #topMenu {
            height:50px;
            width:100%;
        }
        #topMenu ul li {
            list-style:none;
            color:white;
            background-color:navy;
            float:left;
            line-height:45px;
            vertical-align:middle;
            text-align:center;
        }
        #topMenu .menuLink {
            text-decoration:none;
            color:white;
            display:block;
            width:240px;
            font-size:16px;
            font-weight:bold;
            font-family:Helvetica;
            margin:0px;
        }
        #topMenu .menuLink:hover {
            color:black;
            background-color: aliceblue;
        }
/* iPhone Plus 해상도 */
        @media(max-width:414px) {
            .column img {
                margin-top:5px;
                vertical-align:middle;
                width:100%;
            }
            #kakao img {
                width:100%;
                height:100%;
                margin:0px;
            }
            .logo h1 {
                font-size:22px;
                text-align:center;
                background-color:forestgreen;
                color:white;
                line-height:60px;
                margin:0px;
            }
            .logo img {
                width:100%;
                margin-left:0px;
                margin-bottom:0px;
            }
            h2 {
                font-size:20px;
                margin-top:15px;
            }
            ul {
                padding-left:0px;
            }
            .row {
                display:block;
            }
            .logo h4 {
                text-align:center;
                margin-left:0px;
                background-color:forestgreen;
                color:white;
                line-height:30px;
                margin:0px;
                margin-top:10px;
            }
            #topMenu {
                height:120px;
                width:100%;
            }
            #topMenu ul li {
                list-style:none;
                color:white;
                background-color:navy;
                float:left;
                line-height:40px;
                vertical-align:middle;
                text-align:center;
                padding:0px;
            }
            #topMenu .menuLink {
                display:block;
                width:207px;
                font-size:14px;
            }
        }
/* 아이폰 6, 6s, 7, 8 해상도 */
        @media(max-width:375px) {
            .column img {
                margin-top:5px;
                vertical-align:middle;
                width:100%;
            }
            .logo h1 {
                font-size:21px;
                text-align:center;
                background-color:forestgreen;
                color:white;
                line-height:65px;
                margin-left:0px;
            }
            .kakao img {
                width:100%;
                height:100%;
                margin-left:0px;
                margin-top:0px;
            }
            .logo img {
                width:100%;
                margin-left:0px;
            }
            h2 {
                font-size:20px;
                margin-top:10px;
            }
            ul {
                padding-left:0px;
            }
            .row {
                display:block;
            }
            .logo h4 {
                text-align:center;
                margin-left:0px;
            }
            #topMenu {
                height:102px;
                width:374px;
            }
            #topMenu ul li {
                float:left;
                line-height:34px;
                padding:0px;
            }
            #topMenu .menuLink {
                display:block;
                width:187px;
                font-size:12px;
            }
        }
/* 갤럭시 시리즈 해상도 */
        @media(max-width:360px) {
            .column img {
                margin-top:5px;
                vertical-align:middle;
                width:100%;
            }
            .logo h1 {
                font-size:22px;
                text-align:center;
                background-color:forestgreen;
                color:white;
                line-height:70px;
                margin-left:0px;
            }
            .kakao img {
                width:100%;
                height:100%;
                margin-left:0px;
                margin-top:0px;
            }
            .logo img {
                width:100%;
                margin-left:0px;
            }
            h2 {
                font-size:20px;
                margin-top:15px;
            }
            ul {
                padding-left:0px;
            }
            .row {
                display:block;
            }
            .logo h4 {
                text-align:center;
                margin-left:0px;
            }
            #topMenu {
                height:105px;
                width:100%;
            }
            #topMenu ul li {
                float:left;
                line-height:35px;
                padding:0px;
            }
            #topMenu .menuLink {
                display:block;
                width:180px;
                font-size:13px;
            }
        }
/* 아이폰 5, 5s, SE 해상도 */
        @media(max-width:320px) {
            .column img {
                margin-top:5px;
                vertical-align:middle;
                width:100%;
            }
            .logo h1 {
                font-size:19px;
                text-align:center;
                background-color:forestgreen;
                color:white;
                line-height:60px;
                margin-left:0px;
            }
            .kakao img {
                width:100%;
                height:100%;
                margin-left:0px;
                margin-top:0px;
            }
            .logo img {
                width:100%;
                margin-left:0px;
            }
            h2 {
                font-size:20px;
                margin-top:15px;
            }
            ul {
                padding-left:0px;
            }
            .row {
                display:block;
            }
            .logo h4 {
                text-align:center;
                margin-left:0px;
            }
            #topMenu {
                height:180px;
                width:100%;
            }
            #topMenu ul li {
                float:left;
                line-height:30px;
                padding:0px;
            }
            #topMenu .menuLink {
                display:block;
                width:320px;
                font-size:13px;
            }
        }