        * {
            box-sizing:border-box;
        }
        body {
            margin:0px;
            font-family:Helvetica;
        }
        .row {
            display:flex;
            flex-wrap:wrap;
            padding: 0 4px;
        }
        .column {
            flex:50%;
            padding:0 4px;
        }
        .column img {
            margin-top:8px;
            vertical-align:middle;
            width:100%;
        }
        .logo img {
            width:350px;
            height:auto;
            margin-left:40px;
        }
        .logo h4, h1 {
            text-align:left;
            margin-left:40px;
        }
        h2 {
            text-align:center;
            padding-top:50px;
        }
        ul {
            padding-left:0px;
        }
        #topMenu {
            height:100%;
            width:100%;
        }
        #topMenu ul li {
            list-style:none;
            color:white;
            background-color:navy;
            float:left;
            line-height:45px;
            vertical-align:middle;
            text-align:center;
        }
        #topMenu .menuLink {
            text-decoration:none;
            color:white;
            display:block;
            width:240px;
            font-size:16px;
            font-weight:bold;
            font-family:Helvetica;
            margin:0px;
        }
        #topMenu .menuLink:hover {
            color:black;
            background-color: aliceblue;
        }
/* For 960px */
        @media(max-width:959px) {
            * {
            box-sizing:border-box;
            }
            body {
                margin:0px;
                font-family:Helvetica;
            }
            .row {
                display:flex;
                flex-wrap:wrap;
                padding: 0 4px;
            }
            .column {
                flex:50%;
                padding:0 4px;
            }
            .column img {
                margin-top:8px;
                vertical-align:middle;
                width:100%;
            }
            .logo h1 {
                text-align:center;
                margin-left:0px;
            }
            .logo h4 {
                margin-bottom:10px;
                margin-left:0px;
                text-align:center;
            }
            .logo img {
                width:350px;
                height:auto;
                margin-left:310px;
            }
            ul {
                font-size:15px;
                padding-left:0px;
            }
            h2 {
                padding-top:110px;
            }
            #topMenu {
                height:100%;
                width:100%;
            }
            #topMenu ul li {
                list-style:none;
                color:white;
                background-color:navy;
                float:left;
                line-height:50px;
                vertical-align:middle;
                text-align:center;
                padding:0px;
            }
            #topMenu .menuLink {
                text-decoration:none;
                color:white;
                display:block;
                width:319px;
                font-size:16px;
                font-weight:bold;
                font-family:Helvetica;
            }
        }
/* For 800px */
        @media(max-width:800px) {
            * {
            box-sizing:border-box;
            }
            body {
                margin:0px;
                font-family:Helvetica;
            }
            .row {
                display:flex;
                flex-wrap:wrap;
                padding: 0 4px;
            }
            .column {
                flex:50%;
                padding:0 4px;
            }
            .column img {
                margin-top:8px;
                vertical-align:middle;
                width:100%;
            }
            .logo h1 {
                font-size:25px;
                text-align:center;
                margin-left:0px;
            }
            .logo h4 {
                margin-bottom:10px;
                margin-left:0px;
                text-align:center;
            }
            .logo img {
                width:350px;
                height:auto;
                margin-left:225px;
            }
            ul {
                font-size:15px;
                padding-left:0px;
            }
            h2 {
                font-size:23px;
                padding-top:150px;
            }
            #topMenu {
                height:100%;
                width:100%;
            }
            #topMenu ul li {
                list-style:none;
                color:white;
                background-color:navy;
                float:left;
                line-height:50px;
                vertical-align:middle;
                text-align:center;
                padding:0px;
            }
            #topMenu .menuLink {
                text-decoration:none;
                color:white;
                display:block;
                width:400px;
                font-size:16px;
                font-weight:bold;
                font-family:Helvetica;
            }
        }
/* iPhone Plus 해상도 */
        @media(max-width:414px) {
            * {
            box-sizing:border-box;
            }
            body {
                margin:0px;
                font-family:Helvetica;
            }
            .column img {
                margin-top:8px;
                vertical-align:middle;
                width:100%;
            }
            .logo h1 {
                font-size:20px;
                text-align:center;
            }
            .logo img {
                width:100%;
                margin-left:0px;
            }
            ul {
                font-size:15px;
                padding-left:0px;
            }
            h2 {
                font-size:20px;
                padding-top:120px;
            }
            .row {
                display:block;
            }
            .logo h4 {
                text-align:center;
            }
            #topMenu {
                height:100%;
                width:100%;
            }
            #topMenu ul li {
                list-style:none;
                color:white;
                background-color:navy;
                float:left;
                line-height:40px;
                vertical-align:middle;
                text-align:center;
                padding:0px;
            }
            #topMenu .menuLink {
                text-decoration:none;
                color:white;
                display:block;
                width:207px;
                font-size:14px;
                font-weight:bold;
                font-family:Helvetica;
            }
        }
/* 아이폰 6, 6s, 7, 8 해상도 */
        @media(max-width:375px) {
            * {
            box-sizing:border-box;
            }
            body {
                margin:0px;
                font-family:Helvetica;
            }
            .column img {
                margin-top:8px;
                vertical-align:middle;
                width:100%;
            }
            .logo h1 {
                font-size:20px;
                text-align:center;
            }
            .logo img {
                width:100%;
                margin-left:0px;
            }
            ul {
                font-size:15px;
                padding-left:0px;
            }
            h2 {
                font-size:20px;
                padding-top:95px;
            }
            .row {
                display:block;
            }
            .logo h4 {
                text-align:center;
            }
            #topMenu {
                height:100%;
                width:100%;
            }
            #topMenu ul li {
                list-style:none;
                color:white;
                background-color:navy;
                float:left;
                line-height:32px;
                vertical-align:middle;
                text-align:center;
                padding:0px;
            }
            #topMenu .menuLink {
                text-decoration:none;
                color:white;
                display:block;
                width:187px;
                font-size:12px;
                font-weight:bold;
                font-family:Helvetica;
            }
        }
/* 아이폰 5, 5s, SE 해상도 */
        @media(max-width:320px) {
            * {
                box-sizing:border-box;
            }
            body {
                margin:0px;
                font-family:Helvetica;
            }
            .column img {
                margin-top:8px;
                vertical-align:middle;
                width:100%;
            }
            .logo h1 {
                font-size:15px;
                text-align:center;
            }
            .logo img {
                width:100%;
                margin-left:0px;
            }
            ul {
                font-size:15px;
                padding-left:0px;
            }
            h2 {
                font-size:20px;
                padding-top:120px;
            }
            .row {
                display:block;
            }
            .logo h4 {
                text-align:center;
            }
            #topMenu {
                height:100%;
                width:100%;
            }
            #topMenu ul li {
                list-style:none;
                color:white;
                background-color:navy;
                float:left;
                line-height:20px;
                vertical-align:middle;
                text-align:center;
                padding:0px;
            }
            #topMenu .menuLink {
                text-decoration:none;
                color:white;
                display:block;
                width:320px;
                font-size:12px;
                font-weight:bold;
                font-family:Helvetica;
            }
        }